[submodule "dotbot"]
	path = dotbot
	url = https://github.com/anishathalye/dotbot
	ignore = dirty
[submodule "zgenom"]
	path = zgenom
	url = https://github.com/jandamm/zgenom.git
	ignore = dirty
[submodule "vim_runtime"]
	path = vim_runtime
	url = https://github.com/amix/vimrc.git
	ignore = dirty
[submodule "dracula/kitty"]
	path = dracula/kitty
	url = https://github.com/dracula/kitty.git
	ignore = dirty
[submodule "vim_plugins/tabular"]
	path = vim_plugins/tabular
	url = https://github.com/godlygeek/tabular.git
	ignore = dirty
[submodule "vim_plugins/vim-log-highlighting"]
	path = vim_plugins/vim-log-highlighting
	url = https://github.com/MTDL9/vim-log-highlighting.git
	ignore = dirty
[submodule "vim_plugins/vim-ripgrep"]
	path = vim_plugins/vim-ripgrep
	url = https://github.com/jremmen/vim-ripgrep.git
	ignore = dirty
[submodule "vim_plugins/vim-terraform"]
	path = vim_plugins/vim-terraform
	url = https://github.com/hashivim/vim-terraform.git
	ignore = dirty
[submodule "vim_plugins/vim-jsonnet"]
	path = vim_plugins/vim-jsonnet
	url = https://github.com/google/vim-jsonnet.git
	ignore = dirty
[submodule "vim_plugins/vim-nuuid"]
	path = vim_plugins/vim-nuuid
	url = https://github.com/kburdett/vim-nuuid.git
	ignore = dirty
[submodule "vim_plugins/xmledit"]
	path = vim_plugins/xmledit
	url = https://github.com/sukima/xmledit.git
	ignore = dirty
[submodule "vim_plugins/vim-searchindex"]
	path = vim_plugins/vim-searchindex
	url = https://github.com/google/vim-searchindex.git
	ignore = dirty
[submodule "vim_plugins/copilot.vim"]
	path = vim_plugins/copilot.vim
	url = https://github.com/github/copilot.vim.git
	ignore = dirty
[submodule "tmux_plugins/tpm"]
	path = tmux_plugins/tpm
	url = https://github.com/tmux-plugins/tpm
